<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.emsby.empmanager.mapper.DepMapper">
    <resultMap id="DepMap" type="com.emsby.empmanager.pojo.DepEntity">
        <id column="did" property="did"></id>
        <result column="dNum" property="dNum"/>
        <result column="dName" property="dName"/>
    </resultMap>
</mapper>